/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ +theme-dark — класс тёмной темы
✦ +theme-light — класс светлой темы
✦ +like-icon — для svg-иконки анимированного сердца
✦ +card__like-button — для кнопки Like рядом с иконкой
✦ +card__icon-button — для кнопки, оборачивающей иконку
✦ +card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ +button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: var(--text-weight);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-gradient-line),
      var(--bg-gradient-line) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--bg-gradient-line),
      var(--bg-gradient-line) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--bg-gradient-top) 0.01%,
      var(--bg-gradient-bottom)
    );
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: clamp(375px, 75vi, 700px);
  height: min(368px, 87vi);
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.header__title {
  padding-bottom: 20px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding: 25px 10px 25px 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  border: none;
  background: none;
  display: block;
  padding: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: opacity 0.3s;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 60%;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    left: -20px;
  }

  100% {
    left: -16px;
  }
}

/* main */

.main {
  margin: 0 auto;
}

.card {
  width: clamp(375px, 75vi, 700px);
  height: min-content;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card:not(:last-of-type) {
  margin-bottom: 50px;
}

.card__title {
  font-size: 18px;
  padding: 4px 10px 5px;
  border-bottom: 2px solid var(--accent-color);
  font-weight: var(--title-weight);
}

.card__box {
  position: relative;
}

.card__box-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid var(--accent-color);
}

.card__box-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: -1px 0 var(--text-stroke), 0 1px var(--text-stroke),
    1px 0 var(--text-stroke), 0 -1px var(--text-stroke);
}

@media (width <= 400px) {
  .card__box-tag {
    right: 13px;
  }
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke))) {
  .card__box-tag {
    -webkit-text-stroke: 1px var(--text-stroke);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

/* heart icon */
.card__icon-button {
  border: 2px solid transparent;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: border 0.3s;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.like-icon {
  display: block;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  transition: fill 0.3s linear;
  fill: var(--bg-color);
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:active .core {
  fill: var(--heart);
}

.like-icon .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--bg-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
}

.like-icon:active .main-body {
  fill: var(--heart);
}

/* heart color */
.like-icon.is-liked .core {
  transition: fill 0.3s ease-in;
  fill: var(--heart);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.03s ease-in;
  fill: var(--heart);
}

.like-icon .contour {
  transition: fill 0.1s linear;
  fill: var(--accent-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s ease-in;
  fill: var(--heart);
}

.like-icon.is-liked .heart {
  animation: pulse 0.3s 0.1s ease-in;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Like button */
.card__like-button {
  border: 2px solid var(--accent-color);
  background: none;
  width: 130px;
  height: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  position: relative;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.card__like-button::after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: center;
  display: block;
}

/* save */

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  padding: 0;
  width: 335px;
  height: 55px;
  margin: 50px auto 100px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  position: relative;
}

.save-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.save-button::after {
  content: "";
  background-color: var(--button-hover);
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.save-button:hover::after {
  transform: scaleX(1);
}

.floppy {
  width: 21px;
  height: 21px;
}

.floppy__img-m {
  display: none;
}

@media (width <= 400px) {
  .save-button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .floppy__img-m {
    display: block;
  }

  .floppy__img-s {
    display: none;
  }
}

/* modal */

.modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 50vh auto;
  transform: translateY(-50%);
  max-width: 357px;
  background-color: var(--bg-color);
  border: var(--border);
  padding: 30px;
  color: var(--accent-color);
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal .floppy {
  width: 40px;
  height: 40px;
}

.modal__box-text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  flex: 1;
}

.modal__button {
  border: var(--border);
  background: var(--bg-color);
  width: 293px;
  height: 38px;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
}

.modal__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

@media (width <= 400px) {
  .modal[open] {
    max-width: 341px;
    padding: 30px 40px;
  }

  .modal__button {
    width: 257px;
  }
}
