/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ +theme-dark — класс тёмной темы
✦ +theme-light — класс светлой темы
✦ +like-icon — для svg-иконки анимированного сердца
✦ +card__like-button — для кнопки Like рядом с иконкой
✦ +card__icon-button — для кнопки, оборачивающей иконку
✦ +card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ +button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(
      90deg,
      var(--bg-gradient-line),
      var(--bg-gradient-line) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--bg-gradient-line),
      var(--bg-gradient-line) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--bg-gradient-top) 0.01%,
      var(--bg-gradient-bottom)
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: clamp(375px, 75vi, 700px);
  margin: 100px auto;
  padding-top: clamp(7.375rem, 7.0229rem + 1.5023vw, 8.375rem);
  border: var(--border);
  background-color: var(--bg-color);
}

.header__logo {
  text-decoration: none;
  outline: none;
  padding-bottom: 20px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding: 25px 10px 25px 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.667em;
}

.theme-menu__button {
  position: relative;
  display: block;
  border: none;
  padding: 0;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  transition: opacity 0.3s;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 60%;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 60%;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--accent-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

/* main */

.main {
  margin: 0 auto;
}

.card {
  width: clamp(375px, 75vi, 700px);
  height: min-content;
  border: var(--border);
  background-color: var(--bg-color);
}

.card:not(:last-of-type) {
  margin-bottom: 50px;
}

.card__title {
  border-bottom: var(--border);
  padding: 4px 10px 5px;
  font-variation-settings: 'wght' var(--title-weight);
  font-size: 18px;
}

.card__box {
  position: relative;
  border-bottom: var(--border);
}

.card__box-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1;
}

.card__box-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 50%;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow: -1px 0 var(--text-stroke), 0 1px var(--text-stroke),
    1px 0 var(--text-stroke), 0 -1px var(--text-stroke);
  mix-blend-mode: hard-light;
}

@media (width <= 400px) {
  .card__box-tag {
    right: 13px;
  }
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke))) {
  .card__box-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke);
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.card__text {
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

/* heart icon */
.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background: none;
  transition: border 0.3s;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: var(--border);
  outline: none;
}

.like-icon {
  display: block;
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: var(--bg-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--bg-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--heart);
  transition: fill 0.3s 0.05s linear;
}

/* heart color */
.like-icon.is-liked .core {
  fill: var(--heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: pulse 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

/* Like button */
.card__like-button {
  width: 130px;
  height: 40px;
}

/* All button */
.button {
  position: relative;
  background: var(--bg-color);
  border: var(--border);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-hover);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  display: block;
  font-family: var(--accent-font);
  font-size: 14px;
  text-align: center;
}

/* filters */

.filter-contrast {
  filter: contrast(120%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-sepia {
 filter: sepia(30%);
}

.filter-opacity {
 filter: opacity(80%);
}

.filter-hue {
  filter: hue-rotate(50deg);
}

.filter-saturate {
  filter: saturate(140%)
}

.filter-invert {
  filter: invert(10%);
}

.filter-brightness-contrast {
  filter: brightness(120%) contrast(120%);
}

/* save */

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: 55px;
  margin: 50px auto 100px;
}

.floppy {
  width: 21px;
  height: 21px;
}

@media (width <= 400px) {
  .save-button {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }
}

/* modal */

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 357px;
  border: var(--border);
  padding: 30px;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal .floppy {
  width: 40px;
  height: 40px;
}

.modal__box-text {
  flex: 1;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.modal__button {
  width: 293px;
  height: 38px;
  font-family: var(--accent-font);
  font-size: 14px;
}

@media (width <= 400px) {
  .modal[open] {
    max-width: 341px;
    padding: 30px 40px;
  }

  .modal__button {
    width: 257px;
  }
}
